pruebaui.py
__pycache__/
prueba.py
hecho_pr2.md
database/appointments.csv
database/doctors.csv
database/rooms.csv
database/patients.csv
database/drugs.csv
database/diagnoses.csv
database/allergies.csv
database/notifications.csv
random_datas.py